@model PMS.Web.Models.Waiver

@{
    ViewData["Title"] = "Waiver Details";
}

<div class="container-fluid">
    <div class="mb-3">
        <h2 class="mb-0">Waiver Details</h2>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row g-2 mb-2 align-items-center">
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.Uid)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.Uid)</div>
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.WaiveOffType)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.WaiveOffType)</div>
            </div>

            <div class="row g-2 mb-2 align-items-center">
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.CustomerNo)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.CustomerNo)</div>
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.CustomerName)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.CustomerName)</div>
            </div>

            <div class="row g-2 mb-2 align-items-center">
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.ProjectName)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.ProjectName)</div>
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.PropertyDetail)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.PropertyDetail)</div>
            </div>

            <div class="row g-2 mb-2 align-items-center">
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.RequestedPlotType)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.RequestedPlotType)</div>
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.PaymentDesc)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.PaymentDesc)</div>
            </div>

            <div class="row g-2 mb-2 align-items-center">
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.InstallmentNo)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.InstallmentNo)</div>
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.DueAmount)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.DueAmount)</div>
            </div>

            <div class="row g-2 mb-2 align-items-center">
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.WaiveOffAmount)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.WaiveOffAmount)</div>
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.CreatedDate)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.CreatedDate)</div>
            </div>

            <div class="row g-2 align-items-center">
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.CreatedBy)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.CreatedBy)</div>
                <div class="col-12 col-md-2 fw-semibold">@Html.DisplayNameFor(model => model.IsActive)</div>
                <div class="col-12 col-md-4">@Html.DisplayFor(model => model.IsActive)</div>
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-end gap-2">
        <a asp-action="Edit" asp-route-id="@Model.Uid" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
